.leaf-path{
    animation: sway 1s ease-in-out infinite;
    transform-origin: bottom;
    fill: green;
}

@keyframes sway{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(7deg);
    }
    50%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(13deg);
    }
    100%{
        transform: rotate(0deg);
    }
}