body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.leaf-path{
    animation: sway 4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
    transform-origin: bottom;
    fill: green;
}
 
@keyframes sway{
    0% {
        transform: rotate(0deg) translateX(0px) translateY(0px);
    }
    20% {
        transform: rotate(-7deg) translateX(-4px) translateY(-2px);
    }
    40% {
        transform: rotate(5deg) translateX(3px) translateY(-1px);
    }
    60% {
        transform: rotate(12deg) translateX(2px) translateY(2px);
    }
    80% {
        transform: rotate(2deg) translateX(2px) translateY(1px);
    }
    100% {
        transform: rotate(0deg) translateX(0px) translateY(0px);
    }
}

.leaf-mid {
    animation: mid-sway 4s ease-in-out infinite;
    transform-origin: bottom;
    fill: green;
    animation-delay: 0.1s;
}

.leaf-tip {
    animation: tip-sway 3s ease-in-out infinite;
    transform-origin: bottom;
    fill: lightgreen;
    animation-delay: 0.2s;
}

@keyframes mid-sway{
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
}

@keyframes tip-sway{
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(12deg); }
}