body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.leaf-path{
    animation: sway 3s ease-in-out infinite;
    transform-origin: bottom;
    fill: green;
}

@keyframes sway{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(10deg);
    }
    75%{
        transform: rotate(18deg);
    }
    100%{
        transform: rotate(0deg);
    }
}